{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="mb-4 text-center">Register</h1>
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                    {% endif %}
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="mb-3 row align-items-center">
                            <label for="id_username" class="form-label">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3 row align-items-center">
                            <label for="id_email" class="form-label">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3 row align-items-center">
                            <label for="id_password1" class="form-label">Password</label>
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3 row align-items-center">
                            <label for="id_password2" class="form-label">Confirm Password</label>
                            {{ form.password2 }}
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}