{% extends 'base.html' %}

{% block content %}

<div class="container"> <h1 class="text-center my-4">About Us</h1> 
<hr class="w-25 mx-auto"> <p class="lead text-center"> Welcome to Forever Home Finder, where compassion meets action in the pursuit of improving the lives of animals in shelters. </p> 
<div class="row"> <div class="col-md-6"> <p> At Forever Home Finder, we are dedicated to facilitating the adoption process for animals in need, advocating for animal welfare, and fostering a community of passionate individuals committed to making a difference. As a 501(c)3 non-profit organization, we believe that every animal deserves a loving forever home, and we work tirelessly to make that belief a reality. </p> 
<p> Our platform offers a user-friendly interface that allows individuals to create an account, browse through a diverse array of animals available for adoption, and connect with shelters and rescues across the country. Whether you're searching for a furry companion to join your family or simply looking to support the cause, Forever Home Finder is your one-stop destination. </p> </div> 
<div class="col-md-6"> <p> But we're more than just a pet adoption platform. We're a community united by our shared love for animals and our determination to enact positive change. Through our advocacy initiatives, members can get involved in various campaigns and projects aimed at improving animal welfare laws, raising awareness about adoption, and promoting responsible pet ownership. </p> 
<p class="lead"> Together, we can make a difference. Join us at Forever Home Finder and be a part of the movement to give every animal the chance they deserve - a forever home filled with love and compassion. </p>
</div> </div> </div> 
  
{% endblock %}
          