{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">Donation Form</h1>
    <form target="_blank" action="https://secured.humanesociety.org/page/81880/donate/1?it=1&it=0&ea.tracking.id=ad_gg_branded&en_txn10=ad_gg_cpc_21164765179_159368653614_695806842395_humane%20society%20donation&en_og_source=ad_gg_fndr_81880_hsus&utm_source=google&utm_medium=cpc&utm_term=humane%20society%20donation&gad_source=1&gclid=CjwKCAjw26KxBhBDEiwAu6KXtxm5mUPhIIFA65uIxQR33ejU7nqM_zPfUom3mzW1RJgHvRFoTUdJBBoCh_sQAvD_BwE" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required>
      </div>
      <div class="form-group">
        <label for="amount">Donation Amount</label>
        <select class="form-control" id="amount" required>
          <option value="">Select an amount</option>
          <option value="25">$25</option>
          <option value="50">$50</option>
          <option value="100">$100</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="other-amount">Other Amount</label>
        <input type="number" class="form-control" id="other-amount" min="1" required>
        <small class="form-text text-muted">Please enter a custom amount if you selected "Other" above.</small>
      </div>
      <div class="form-group">
        <label for="card-number">Last 4 Digits of Card Number</label>
        <input type="text" class="form-control" id="card-number" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" >Donate</button>
    </form>
  </div>
{% endblock %}