{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">Donation Form</h1>
    <form target="_blank" action="https://secured.humanesociety.org/page/81880/donate/">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" >Donate</button>
    </form>
  </div>
{% endblock %}