{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-5">Petitions</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for petition in petitions %}
    <div class="col">
      <div class="card h-100">
        <a href="{{ petition.url }}" target="_blank">
          <img src="{{ petition.image }}" class="card-img-top" alt="{{ petition.title }}">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ petition.url }}" target="_blank">{{ petition.title }}</a>
          </h5>
          <p class="card-text">{{ petition.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}