{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Resources</h2>
    <div class="card mb-4">
        <div class="card-header bg-light text-dark">Euthanasia</div>
        <div class="card-body">
            <p>Euthanasia is a difficult decision that many pet owners may face, especially when their pets are
                suffering from serious illness or injury. It involves the humane and painless euthanizing of a
                pet to end their suffering. When considering euthanasia, it's important to consult with a
                veterinarian to discuss the pet's condition and available options. Veterinary professionals can
                provide guidance and support throughout the decision-making process, ensuring that the pet's
                welfare and comfort are prioritized.</p>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header bg-light text-dark">Spay/Neuter</div>
        <div class="card-body">
            <p>Spaying and neutering are essential procedures for controlling pet population and preventing
                unwanted litters. Spaying refers to the surgical removal of a female pet's reproductive organs,
                while neutering involves the surgical removal of a male pet's testicles. These procedures not
                only help reduce pet overpopulation but also offer various health benefits, such as reducing the
                risk of certain reproductive cancers and behavioral issues. Many communities offer low-cost
                spay/neuter clinics and resources to make these procedures accessible to pet owners.</p>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header bg-light text-dark">Pet Surrender</div>
        <div class="card-body">
            <p>Surrendering a pet is a difficult decision that may arise due to various circumstances, such as
                changes in living situations, financial constraints, or inability to provide proper care. When
                considering pet surrender, it's crucial to explore all available options and resources to ensure
                the best outcome for the pet. Responsible surrendering involves finding a reputable animal
                shelter or rescue organization that can provide appropriate care and placement for the pet. It's
                essential to provide detailed information about the pet's medical history, behavior, and any
                specific needs to facilitate the rehoming process.</p>
        </div>
    </div>
</div>
{% endblock %}